.container {
    display: block;
    width: 100%;
    text-align: center;
}

.row {
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
}

#message {
    font-weight: bold;
    font-style: italic;
}

#next-level-btn {
    display: none;
}
